input[type='file']::file-selector-button{
    position: relative;
    width: 83px;
    height: 54px;
    border-color: transparent;
    color: transparent;
    background-color: transparent;
    margin-left:16px;
    cursor: pointer;
}

input[type='file']{
    font-size: 16px;
    color: #7E7E7E;
    width: 380px;
    height: 54px;
    border: 1px solid #D0CFCF ;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.upload_button{
    position: absolute;
    border: 1px solid black;
    width: 83px;
    height: 54px;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}